.texto {
    position: relative;
    margin-bottom: 4.563rem;
}

.h11 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: #004B1E; 
}

.integrantes img {
    margin-top: 4.563rem;
    width: 100%;
    height: 42.688rem;
}

.integrantes {
    padding-bottom: 5.813rem;
}

.folha_1 {
    height: 19.45rem;
    width: 29.929rem;
}