:root {
    --extra-light-green: #A2D17D;
    --light-green: #6BA237;
    --green: #d4e0d4;
    --pine-green: #1F5E1D;
    --light-glass-green: #73AF76;
    --extra-dark-brown: #1E1500;
    --dark-blue-green: #063C26;
    --dark-pine-green: #0C5F40;
    --brown: #4B4104;
    --yellow: #D2C710;
    --blue-green: #128159;
    --dark-grass-green: #164813;
    --light-medium-green: #4D7425;
    --medium-green: #2F6C2F;
    --dark-medium-green: #1A4518;
}