/* Estilo para o rodapé */
.rodape {
    background-color: #2A4B25;
    padding: 0;
    height: 3.438rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

#botao-imagem {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    padding: 0.625rem;
}

#botao-imagem img {
    width: 4.688rem; /* Largura da imagem (ajuste conforme necessário) */
    height: 4.688rem; /* Altura da imagem (ajuste conforme necessário) */
}

